node_modules
npm-debug.log
vendor
.env
.env.backup
.env.production
.phpunit.result.cache
.idea
.vscode
storage/*.key
.DS_Store
Thumbs.db
*.log
.git
.gitignore
.gitattributes
README.md
docker-compose.yml
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
tests
phpunit.xml
